

<p id="notice"><%= notice %></p>

<h1 align="center" >Listing Articles</h1>
<div align="center">
	<%= will_paginate%>
</div>

 <%= render 'article', obj: @articles %>
 
<%= link_to 'New Article', new_article_path %>

<div align="center">
	<%= will_paginate%>
</div>