<style type="text/css">
 p,h4,label,button,h3{
  color: #fff;
}
p.text-circle {
  color:#000000;
  font-size:17px;
  position:relative;
  text-align:center;
  top:130px;
}
</style>
    <link href="mystyle.css" rel="stylesheet">
    <link href="mycircle.css" rel="stylesheet">
    <link rel="stylesheet" href="mystyle-portfolio.css">
   

<div id="page-top" class="index">
    <!-- ============ Header ============= -->
    <header class="">
        <div class="container" style="height: 100% !important;">
            <div class="row">
                <div class="col-md-12">
                    <img src="/images/vikas.jpg" width="200" class="img-circle" alt="">
                    <div class="intro-text">
                        <span class="skills">Hi I'm Vikas</span>
                        <p class="text-center"> Web Designer and Web Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

     <!-- ============ Education ============= -->

    <section id="education">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-6 text-side-right">
                   <h3 class="title-page ">Education</h3>
                   <hr>
                   <h4 class="list-text">University of Pune</h4>
                   <p class="list-text-p">2010-2013 Master Degree</p>
                  <br>
                   <h4 class="list-text">University of Pune</h4>
                   <p class="list-text-p">2007-2010 Bachelor Degree </p>
                  <br>
                   <h4 class="list-text">University of Pune </h4>
                   <p class="list-text-p">2006-2007 HSC</p>
                </div>
                <div class="col-sm-8 col-md-6 circ-bg">
                    <div class="circular-bar">
                       <div class="c100 p85 text-center">
                            <span>73%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                            <p class="text-circle">Master Degree </p>
                        </div>
                        <div class="c100 p75">
                            <span>73%</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                                <p class="text-circle">Bachelor Degree </p>
                        </div>
                        <div class="c100 p55 ">
                        <span>68%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                            <p class="text-circle">HSC. Degree </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <br>
                    <p class="sub-sec-text">
                        I am Software Developer ,"I Can do More than <br> You think i Can!!!!"
                    </p>
                </div>
            </div>
        </div>
    </section>

     <!-- ============ Experience ============= -->

    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-6  circ-bg exp-circ">
                <h3 class="title-page visible-xs text-center sm-title sm-title-ex ">Experience</h3>
                    <div class="circular-bar">
                       <div class="c100 p85">
                            <span>75%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                            <p class="text-circle">Web Design </p>
                        </div>
                        <div class="c100 p75">
                            <span>85%</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                                <p class="text-circle">Web Developer </p>
                        </div>
                        <div class="c100 p55">
                            <span>50%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                            <p class="text-circle">Graphic Design </p>
                        </div>
                    </div>
                </div>
                    <div class="col-sm-4 col-md-6 text-side-left descrip-text">
                       <h3 class="title-page hidden-xs">Experience</h3>
                       <hr>
                       <h4 class="list-text">Web Design</h4>
                       <p class="list-text-p">2013-2015 </p>
                        <br>
                       <h4 class="list-text">Graphics Design</h4>
                       <p class="list-text-p">2012-2014 </p>
                        <br>
                       <h4 class="list-text">Photography</h4>
                       <p class="list-text-p">2012-2014</p>
                    </div>
                </div>                
            </div>
        </section>
    <section id="software-skill">
        <div class="container">
            <div class="row">
                <div class="col-md-6  circ-bg software-circle">
                <h3 class="title-page visible-xs text-center sm-title">Software Skill</h3>
                    <div class="circular-bar">
                       <div class="c100 p85">
                            <span>85%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                            <p class="text-circle">PHP</p>
                        </div>
                        <div class="c100 p75">
                            <span>75%</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                                <p class="text-circle">RUBY ON RAILS </p>
                        </div>
                        <div class="c100 p55">
                            <span>60%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                            <p class="text-circle">JQuery/Html/Css</p>
                        </div>
                    </div>
                </div>
                    <div class="col-md-6 text-side-left descrip-text">
                       <h3 class="title-page hidden-xs ">Software Skill</h3>
                       <hr>
                       <h4 class="list-text">PHP</h4>
                       <p class="list-text-p">2013-2015 Master Degree </p>
                        <br>
                       <h4 class="list-text">RUBY ON RAILS </h4>
                       <p class="list-text-p">2015 to Till</p>
                        <br>
                       <h4 class="list-text">JQuery/Html/Css</h4>
                       <p class="list-text-p">2013-2015</p>
                    </div>
                </div>                
            </div>
        </section>   

        <section id="contact">
            <div class="row">
               <div class="col-md-6">
               <div class="contact-bg">
               <h3 class="title-page visible-xs text-center">Contact</h3>
                  <%= form_for @user do | f| %>
                      <div class=" control-group col-sm-6">
                          <div class="form-group  floating-label-form-group controls">
                              <%= f.label :name %>
                              <%= f.text_field  :name , class: "form-control" ,placeholder: "First Name" , pattern:"[a-zA-Z ]*$",required: true%>                             
                              <p class="help-block text-danger"></p>
                          </div>
                      </div>
                      
                      <div class=" control-group col-sm-6">
                          <div class="form-group  floating-label-form-group controls">
                              <%= f.label :phone %>
                              <%= f.text_field  :phone , class: "form-control" ,placeholder: "Mobile Number" ,pattern:"^[0-9]{10}$",required: true%>
                              <p class="help-block text-danger"></p>
                          </div>
                      </div>
                      <div class="control-group ">
                          <div class="form-group  col-xs-12 floating-label-form-group controls">
                              <%= f.label :email %>
                              <%= f.text_field  :email , class: "form-control" ,placeholder: " Email Id" ,pattern:"^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)+$",required: true%>
                              <p class="help-block text-danger"></p>
                          </div>
                      </div>
                      <div class=" control-group">
                          <div class="form-group col-xs-12 floating-label-form-group controls">
                              <%= f.label :message %><br></br>
                              <%= f.text_area  :message , class: "form-control" ,placeholder: " Message",required: true%>
                              <p class="help-block text-danger"></p>
                          </div>
                      </div>
                      <br>
                      <div id="success"></div>
                      <div class="">
                          <div class="form-group col-xs-12">
                              
                              <%= f.submit("Submit",class:"btn btn-danger") %>
                          </div>
                      </div>
                  <% end %>
                </div>  
                </div>

                <div class="col-md-6 text-side-left">
                     <h3 class="title-page hidden-xs">Contact</h3>
                     <hr>
                     <h4 class="text-start"> Mobile </h4>
                     <p class="list-text-p"> 9960394774</p>
                     <br>
                     <h4 class="text-start">E - mail</h4>
                     <p class="list-text-p">vikas.kale12@gmail.com</p>
                     <br>
                     <h4 class="text-start">Address</h4>
                     <p class="list-text-p">At Post Thathawade Tal Muilsi<br>Dist-Pune -411033</p>
                     <br>                         
                </div>
            </div> 
         </section>
        <!-- jQuery -->
        <script src="jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="bootstrap.min.js"></script>
        <!-- Plugin JavaScript -->      
       
        <script type="text/javascript">
            $(function(){
              $('#portfolio').mixitup({
                targetSelector: '.item',
                transitionSpeed: 450
              });
            });
        </script>
  </div>
